<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Create a post</title>
    <link rel="icon" type="image/x-icon" href="../assets/logo-primary-vector.svg">
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding-bottom: 10px">
                <a href="/post-single/<%= post.postID %>" style="color: black;">
                    <img style="padding-right: 5px; margin-top:-3px;" src="../assets/arrow-back.svg">Back
                </a>
            </div>
        
            <div class="col-lg-8 col-md-8 col-sm-12 container-image gallery-image">
                <img src=<%= post.imageURL %>>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h1>Are you sure you want to delete this post? </h1>
                <br>
                <form method="post" action="/delete/<%= post.postID %>">
                    <button type="submit" >Confirm delete</button>
                </form>
            </div>
        </div>
    </div>

    <!-- load local js -->
    <script src="/main.js"></script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</bodys>
</html>
