<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <div class="container-fluid">

        <div class="row">




    
                <div class="session col-12" style="display: flex; flex-wrap: wrap">
                   
                        <div class="question" style="display: flex; width: 100%">
                            <div class="col-lg-2 col-md-2 col-sm-4" style="padding-left: 0px">
                                <p class="bold">Sort</p> 
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-6" style="padding-left: 0px">
                                <p class="bold">Filter</p> 
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2" style="padding-right: 0px; display: flex; justify-content: flex-end;">
                                <div class="arrow-container">
                                    <img src="../assets/arrow-down.svg" style="margin-top: 4px;height:9px; width:14px">
                                </div>
                            </div>
                        </div>
                        <div class="content" style="display: flex; width: 100%; margin-bottom: 15px">
                            <div class="col-lg-2 col-md-2 col-sm-12" style="padding-left: 0px">
                                <p>Sort by</p> 
                                <form>
                                    <label>
                                        <input type="radio" name="Newest" value="Newest">
                                        Newest
                                    </label>
                                
                                    <label>
                                        <input type="radio" name="Liked" value="Liked">
                                        Most liked
                                    </label>
                                </form>
                                
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12" style="padding-left: 0px">
                                <p>Select city</p> 
                                <a class="city-tag">Boston</a>
                                <a class="city-tag">Wellesley</a>
                                <a class="city-tag">Paris</a>
                                <a class="city-tag">Tokyo</a>
                                <form id="searchCity" method="GET" action="/city/">
                                    <p >
                                        <label>Search...
                                            <input style="width: 100%" type="text" required city="city">
                                        </label>
                                        <input  type="submit" value="search" id="searchCityButton">
                                    </p>
                                </form>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 0px">
                                <p>Select tags</p> 
                                <a class="component-tag">Corporate</a>
                                <a class="component-tag">Cottagecore</a>
                                <a class="component-tag">Edgey</a>
                                <a class="component-tag">Scandi</a>
                            </div>
            
                        </div>
                 
            
                </div>
      


        </div>
    
        <div class="row">
            <% posts.forEach((elt) => { %>
                <div class="col-lg-4 col-md-4 col-sm-6 gallery-image">
                    <img src=<%= elt.imageURL %>>
                </div>
            <% }); %>
        </div>
        
    </div>


    <div id="logged-in">
    <p>You are logged in as <span id="login-uid"><%= uid %></span>
        <form method="post" action="/logout/"><input type="submit" value="logout"></form></p>
    </div>
    <div id="not-logged-in">
    <p>You are not logged in.</p>
    <form id="login_form" method="post" action="/set-uid/">
        <p><label>uid <input name="uid"></label></p>
        <input type="button" id="login-ajax" value="ajax">
    </form>
    </div>

    <div class="col-6" style="background-color: red">
        <p>You have visited <%= visits %> times.</p>
    </div>

    <h2>Links</h2>

    <p><a href="/form/">a pizza form</a></p>
    
    <p><a href="/staffList/">staff listing</a></p>

    <!-- load local js -->
    <script src="/main.js"></script>
    <script>
        var uid = "<%= uid %>";
        if(uid !== 'unknown') {
            $("#logged-in").show();
            $("#not-logged-in").hide();
        } else {
            $("#logged-in").hide();
            $("#not-logged-in").show();
        }
    </script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</body>
</html>


<script>

    // Function to toggle the active class on the content div
    function toggleContent(event) {
        const session = event.currentTarget.closest('.session'); // The clicked "session" div
        const content = session.querySelector('.content'); // The content div inside the clicked "session" div
        const question = session.querySelector('.question');

        // Toggle the "active" class on the content div
        session.classList.toggle('active');
        content.classList.toggle('active');
        question.classList.toggle('p-bold');
    }

    // Add click event listener to all elements with the class "session"
    const sessions = document.querySelectorAll('.session');
    sessions.forEach(session => {
        const question = session.querySelector('.question');
        const toggle = session.querySelector('.toggle');
        
        question.addEventListener('click', toggleContent);
        toggle.addEventListener('click', toggleContent);
    });

</script>