<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Post</title>
    <link rel="icon" type="image/x-icon" href="../assets/logo-primary-vector.svg">
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding-bottom: 10px">
                <a href="/" style="color: black;">
                    <img style="padding-right: 5px; margin-top:-3px;" alt="Back button to return to home page" src="../assets/arrow-back.svg">Back
                </a>
            </div>
        
            <div class="col-lg-8 col-md-8 col-sm-12 container-image gallery-image">
                <img src=<%= findPost.imageURL %>>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div>
                    <p style="display:inline-block;">From the streets of</p>
                </div>
                
                <h1><%=capitalizeCity(findPost.city)%></h1>
                <p class="text-timestamp" style="margin-bottom: 35px"><%=findPost.date%></p>
                <p>Tagged as</p>
                <div class="container-comment">
                    <% findPost.tags.forEach((elt) => { %>
                        <a href="/tag/<%= elt%>"><p class="component-tag">#<%=elt%></p></a>
                    <%}); %>
                </div>
                <div class="container-comment">
                    <p>
                        <%=findPost.caption%>
                    </p>
                </div>

                <div class="like-del-edit"  data-id="<%= postID %>">
                    <div> <!-- Like button container -->
                        <!-- AJAX version -->
                        <% if( alreadyLiked ) { %>
                            <button class="likeBtn alreadyLiked" type="button">
                                <img src="../assets/heart-filled.svg" alt="Filled heart button">
                            </button>
                        <% } else { %>
                            <button class="likeBtn notLiked" type="button">
                                <img src="../assets/heart-empty.svg" alt="Empty heart button">
                            </button>
                        <% } %>
                        
                        <p class="likeCount"><%=numLikes%> <%=likeString%></p>
                    </div>

                    <div> <!-- Edit and delete button container -->
                        <% if( uid == findPost.userID ) { %>
                            <a style="display: inline-block;" href="/edit/<%= postID %>">
                                <img id="edit-btn" src="../assets/edit.svg">
                            </a>
                            <form style="display: inline-block;" method="GET" action="/delete/<%= postID %>">
                                <button type="submit" id="delete-submit"><img id="delete-btn" src="../assets/delete.svg"></button>
                            </form>
                        <% } %>
                    </div>
                </div>
        
                <hr>
                <p class="bold">Comments</p>
                <div class="container-comments">
                    <% findPost.comments.forEach((elt) => { %>
                        <div class="container-comment">
                            <% if (elt.userID == uid) { %>
                                <hr class="gray">
                                <div class="full-width" style="display: flex; justify-content: space-between;">
                                    <p><%=elt.text%></p>
                                    <img style="height: 18px" alt="You commented this comment" src="../assets/comment-tag-you.svg">
                                </div>
                                <p class="text-timestamp"><%=elt.date%></p>
                            <% } else { %>
                                <hr class="gray">
                                <p><%=elt.text%></p>
                                <p class="text-timestamp"><%=elt.date%></p>
                            <% } %>
                        </div>
                    <% }); %>
                </div>
                <form id="addComment" method="POST" action="/comment/<%= findPost.postID %>">
                    <p>
                        <label>Say something
                            <input style="width: 100%" type="text" name="comment">
                        </label>
                        <input  type="submit" value="Comment" id="addComment">
                    </p>
                </form>
            </div>
        </div>
    </div>

    <!-- load local js -->
    <script src="/main.js"></script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
    <script>
        var logged_in = "<%= logged_in %>";

        /* Ajax version of liking */
        $(".like-del-edit").on('click', '.notLiked', function (event) {
            var postID = $(this).closest("[data-id]").attr("data-id");
            $.post("/likeAjax/"+postID, {postID: postID}).then(processLike);
            // $(this).find("img").attr("src", "../assets/heart-filled.svg");
            // $(this).attr("class", "likeBtn alreadyLiked");
        });

        /* Ajax version of unliking */
        $(".like-del-edit").on('click', '.alreadyLiked', function (event) {
            var postID = $(this).closest("[data-id]").attr("data-id");
            $.post("/unlikeAjax/"+postID, {postID: postID}).then(processLike);
            // $(this).find("img").attr("src", "../assets/heart-empty.svg");
            // $(this).attr("class", "likeBtn notLiked");
        });

        // update the number of likes displayed on the page
        function processLike(resp) {
            if (resp.error) {
                alert('Error: Please log in to like a post.');
            } else {
                console.log("Liked post "+resp.postID+". Total likes: "+resp.likes);
                var likeString = "Likes"
                if (resp.likes == 1) {
                    likeString = "Like"
                }
                $(".like-del-edit").find('.likeCount').text(resp.likes + " " + likeString);
                if (resp.action == "like") {
                    $(".likeBtn").find("img").attr("src", "../assets/heart-filled.svg");
                    $(".likeBtn").attr("class", "likeBtn alreadyLiked");
                } else if (resp.action == "unlike") {
                    $(".likeBtn").find("img").attr("src", "../assets/heart-empty.svg");
                    $(".likeBtn").attr("class", "likeBtn notLiked");
                }
            }
        }

    </script>
</body>
</html>


