<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Starter</title>
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding-bottom: 10px">
                <a href="/" style="color: black;">
                    <img style="padding-right: 5px; margin-top:-3px;" src="../assets/arrow-back.svg">Back
                </a>
            </div>
        
            <div class="col-lg-8 col-md-8 col-sm-12 container-image gallery-image">
                <img src=<%= findPost.imageURL %>>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div>
                    <p style="display:inline-block;">From the streets of</p>
                    <!-- <img style="float:right;" src="../assets/hamburger.svg"> -->
                    <!-- <button type="button" id="burger" style="float:right;"><img src="../assets/hamburger.svg"></button>
                    <div id="dropDownMenu">
                        <p>Edit Post</p>
                        <p>Delete Post</p>
                    </div> -->

                    <ul id="burger" style="list-style-type: none; float:right;">
                        <li><a href="#"><img src="../assets/hamburger.svg"></a>
                            <ul id="dropMenu" class="component-drop">
                                <li>Edit Post</li>
                                <li>Delete Post</li>
                            </ul>
                        </li>
                    </ul>
                    <!-- <div id="dropDownMenu">
                        <p>Edit Post</p>
                        <p>Delete Post</p>
                    </div> -->
                </div>
                
                <h1><%=findPost.city%></h1>
                <p class="text-timestamp" style="margin-bottom: 35px"><%=findPost.date%></p>
                <p>Tagged as</p>
                <div class="container-comment">
                    <% findPost.tags.forEach((elt) => { %>
                        <a href="/tag/<%= elt%>"><p class="component-tag">#<%=elt%></p></a>
                    <%}); %>
                </div>
                <div class="container-comment">
                    <p>
                        <%=findPost.caption%>
                    </p>
                </div>

                <button class="likeBtn" type="button" data-id="<%= postID %>">
                    <img src="../assets/heart-empty.svg">
                </button>
                <p class="likeCount">0 Likes</p>
        
                <hr>
                <p class="bold">Comments</p>
                <div class="container-comments">
                    <% findPost.comments.forEach((elt) => { %>
                        <div class="container-comment">
                            <hr class="gray">
                            <p><%=elt.text%></p>
                            <p class="text-timestamp"><%=elt.date%></p>
                        </div>
                    <% }); %>
                </div>
                <form id="addComment" method="POST" action="/comment/<%= findPost.postID %>">
                    <p>
                        <label>Say something
                            <input style="width: 100%" type="text" name="comment">
                        </label>
                        <input  type="submit" value="Comment" id="addComment">
                    </p>
                </form>
            </div>
        </div>
    </div>

    <!-- load local js -->
    <script src="/main.js"></script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</body>
</html>


