<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding-bottom: 10px">
                <a>
                    <img style="padding-right: 5px; margin-top:-3px" src="../assets/arrow-back.svg">
                    Back
                </a>
            </div>
        
            <div class="col-lg-8 col-md-8 col-sm-12 container-image">
                <img src=<%= findPost.imageURL %>>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <p>From the streets of</p>
                <h1><%=findPost.city%></h1>
                <p class="text-timestamp" style="margin-bottom: 35px"><%=findPost.date%></p>
                <p>Tagged as</p>
                <div class="container-comment">
                    <% findPost.tags.forEach((elt) => { %>
                        <p class="component-tag"><%=elt%></p>
                    <%}); %>
                </div>
                <div class="container-comment">
                    <p>
                        <%=findPost.caption%>
                    </p>
                </div>
        
                <hr>
                <p class="bold">Comments</p>
                <% findPost.comments.forEach((elt) => { %>
                    <div class="container-comment">
                        <hr class="gray">
                        <p><%=elt.text%></p>
                        <p class="text-timestamp"><%=elt.date%></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    <!-- load local js -->
    <script src="/main.js"></script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</bodys>
</html>


